#Banner {
    color:white;
    margin: 4rem;
    display: flex;
}
.banner-ct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-right: 10%;
    text-wrap: wrap;
}
.banner-ct1 {
    color:#17C2EC;
    margin-bottom: 2rem;
    font-size: 30px;
    font-weight: 500;
}
.banner-ct2 {
    color:white;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 2rem;
    font-weight: 500;
}
.banner-ct3 {
    color:rgb(124, 124, 123);
    font-size: 30px;
    margin-bottom: 2rem;
}
.banner-bt1 {
    margin-left: 2rem;
    background-color: rgb(133, 202, 248);
    color: white;
    border-radius: 20px;
    padding: 1rem 2rem 1rem 2rem;
    font-weight:bold;

}
.banner-bt2 {
    margin-left: 2rem;
    color: white;
    background: rgb(12, 12, 12,0);
    border-radius: 20px;
    border: 2px solid aqua;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bold;
}
.anh1 {
    margin-top:15rem;
    position: absolute;
    width: 100px;
    height: 100px;
}
.anh2 {
    right:4rem;
    margin-top:15rem;
    position: absolute;
    width: 100px;
    height: 100px;
}
.bg {
    width: 460px;
    padding:50px;
}
.banner-img {
    width: 40%;
}
.speacialist {
    top:40rem;
    padding: 1rem;
    position: absolute;
    display: flex;
    background-color: rgb(121, 231, 241,0.3);
    border-radius:15px;
}
.speacialist > img {
    width: 70px;
    height: 70px;
}
.speacialistNum {
    align-items: center;
    font-size: 20px;
    margin-left: 1rem;
    font-weight: bold;
}

@media (max-width: 769px) {
    #Banner {
        flex-direction: column;
        margin-left: 1.5rem;
        margin-right:1.5rem;
        margin-top: 2rem;
    }
    .banner-ct {
        width:100%;
        margin-left: 3rem;
        margin-bottom:1rem;
    }
    .banner-ct1 {
        font-size: 25px;
    }
    .banner-ct2 {
        width: 60%;
        font-size: 40px;
        line-height: 3rem;
    }
    .banner-ct3 {
        width: 70%;
        font-size: 18px;
    }
    .banner-bt1,.banner-bt2 {
        margin-left: 0;
        padding:0.8rem 1.6rem;
        margin-right: 0.5rem;
    }
    
    .banner-img {
        margin-left: 1.5rem;
    }
    .bg {
        width: 582px;
        height: 600px;
        padding:50px;
    }
    .anh1{
        margin-top:17rem;
        position: absolute;
        width: 100px;
        height: 100px;
    }
    .anh2{
        right:2rem;
        margin-top:17rem;
        position: absolute;
        width: 100px;
        height: 100px;
    }

    .speacialist {
        top:69rem;
        padding: 1rem;
        position: absolute;
        display: flex;
        background-color: rgb(121, 231, 241,0.3);
        border-radius:15px;
    }
    .speacialistNum {
        align-items: center;
        font-size: 25px;
        margin-left: 1rem;
        font-weight: bold;
    }
}

@media (max-width: 376px) {
    #Banner {
        flex-direction: column;
        margin-left: 1.5rem;
        margin-right:1.5rem;
        margin-top: 1rem;
        align-items: start;
    }
    .banner-ct {
        margin-left:1rem;
        margin-bottom:1rem;
    }
    .banner-ct1 {
        font-size: 14px;
    }
    .banner-ct2 {
        font-size: 28px;
        line-height: 2rem;
    }
    .banner-ct3 {
        font-size: 18px;
    }
    .banner-bt1,.banner-bt2 {
        margin-left: 0;
        padding:0.8rem 1.6rem;
        margin-right: 0.5rem;
    }
    .banner-img {
        margin-left: 1.5rem;
    }
    .bg {
        width: 245px;
        height: 300px;
        padding:25px;
    }
    .anh1{
        margin-top:9rem;
        position: absolute;
        width: 50px;
        height: 50px;
    }
    .anh2{
        right:2rem;
        margin-top:9rem;
        position: absolute;
        width: 50px;
        height: 50px;
    }
    .speacialist {
        top:46rem;
        padding: 0.5rem;
        position: absolute;
        display: flex;
        background-color: rgb(121, 231, 241,0.3);
        border-radius:15px;
    }
    .speacialist > img {
        width: 40px;
        height: 40px;
    }
    .speacialistNum {
        align-items: center;
        font-size: 15px;
        margin-left: 0.5rem;
        font-weight: bold;
    }
}