#brand {
    height: 120px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
}
img {
    width: 20%;
}

.logo1 {
    height: 80px;
}
.logo2 {
    height: 100px;
}
.logo3 {
    height: 70px;
}
.logo4 {
    height: 80px;
}
@media (max-width: 769px) {
    #brand{
        height: 100px;
        padding: 0.2rem 1rem;
    }
    .logo1 {
        height: 50px;
    }
    .logo2 {
        height: 100px;
    }
    .logo3 {
        height: 50px;
    }
    .logo4 {
        height: 50px;
    }
}
@media (max-width: 376px) {
    #brand {
        height: 70px;
        padding: 0.2rem 0.5rem;
    }
    .logo1 {
        height: 20px;
    }
    .logo2 {
        height: 50px;
    }
    .logo3 {
        height: 30px;
    }
    .logo4 {
        height: 20px;
    }
}
