#mainContent {
    margin-left: 4rem;
    color: white;
    margin-right: 4rem;
    
}
.question {
    display: flex;
    margin-bottom: 2rem;
}
.question-content {
    font-size: 50px;
    width: 35%;
    font-weight: bold;
}
.question-answer {
    width: 40%;
    margin-left: 27%;
    font-size: 20px;
    color:rgb(168, 171, 173);
}
.benefit {
    display: flex;

}
.main-benefit {
    margin-top: 1rem;
    padding:3rem 2rem 3rem 2rem;
    text-wrap: wrap;
    width: 27%;
    border-radius: 30px 120px 30px 30px ;
    background-color: rgb(168, 171, 173,0.3);
    padding-bottom: 3rem;
}
.main-benefit>img {
    width: 100px;
    height: 100px ;
}
.mb-title {
    font-size: 30px;
    font-weight: bold;
    color:aqua;
    margin-bottom: 1.5rem;
}
.mb-ct {
    font-size: 21px;
}
.mb-more{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.mb-more>div {
    margin-right: 0.2rem;
    color: aqua;
    font-size: 21px;
}
.mb-more>img {
    width: 32px;
    height: 32px;
}

.other-benefit {
    display: flex;
    align-items:end;
    width: 73%;
}
.ob {
    width: 50%;
    margin-left: 9rem;
    padding: 2rem;
    border:2px solid white;
    border-radius: 30px;
    height: 15rem;
}
.ob-more {
    display: flex;
    align-items: center;
}
.ob-more>img {
    width: 32px;
    height: 32px;
}
.ob-text {
    font-weight: bold;
    font-size: 20px;
}
.ob-more {
    margin-top: 5rem;
}

@media (max-width: 769px) {
    .question {
        flex-direction: column;
    }
    .question-content {
        width: 75%;
    }
    .question-answer {
        margin-left:0;
        margin-top: 1rem;
        width: 90%;
    }
    #mainContent {
        margin-left: 3rem;
    }
    .benefit {
        flex-direction: column;
    }
    .main-benefit {
        width: 53%;
    }
    .other-benefit {
        justify-content: flex-start;
        width: 100%;
        margin-top: 2rem;
    }
    .ob {
        margin-left: 0;
        width: 45%;
    }
    .ob:last-child {
        margin-left:10%;
    }
    
}

@media (max-width: 376px) {
    .question {
        flex-direction: column;
    }
    .question-content {
        width: 88%;
        font-size: 25px;
    }
    .question-answer {
        margin-left:0;
        font-size: 20px;
        margin-top: 1rem;
        width: 100%;
    }
    #mainContent {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .benefit {
        flex-direction: column;
    }
    .mb-title {
        font-size: 18px;
        margin-top: 1rem;
    }
    .mb-ct {
        font-size: 15px;
    }
    .main-benefit {
        width: 70%;
    }
    .main-benefit>img {
        width: 50px;
        height: 50px;
    }
    .other-benefit {
        justify-content: flex-start;
        width: 100%;
        margin-top: 2rem;
        margin-left: 0;
        align-items: start;
    }
    .ob {
        margin-left: 0;
        width: 45%;
        height: 12rem;
        margin-bottom: 2rem;
    }
    .ob:last-child {
        margin-left: 0;
    }
    .other-benefit {
        flex-direction: column;
    }
    .ob-text {
        font-size: 17px;
    }
    .ob>img {
        height: 40px;
        width: 40px;
    }
    .ob-more {
        margin-top: 2rem;
    }
}