#form {
    margin:4rem;
    background-color: rgb(112, 159, 239, 0.3);
    border-radius: 10px;
    box-shadow: 2px 2px 2px;
    padding-bottom: 0.5rem;
}
.form-title {
    padding: 2rem 5rem 2rem 5rem;
    background-color: rgba(147, 163, 189, 0.3);
    color:white;
    font-weight: bold;
}
.form-input {
    padding: 2rem 5rem 2rem 5rem;
    display: flex;
    justify-content: space-between;
}
.form-input>input {
    border:none;
    border-radius: 5px;
    padding:0.7rem;
    outline: none;
    width: 35%;
    color: white;
    background-color: rgb(112, 159, 239, 0.3) ;
}
.form-input>input:focus {
    border:3px solid rgb(87, 180, 231);
  }
input[type="text"]::placeholder {
    color: white;
  }
.form-info {
    margin: 0rem 5rem 2rem 5rem;
    padding: 0.5rem;
    text-align: center;
    background-color: rgb(165, 196, 243,0.4);
    border-radius: 10px;
    color:rgb(87, 180, 231);
}
.form-input>button {
    width: 15%;
    border:3px solid rgb(87, 180, 231);
    color:rgb(87, 180, 231);
    border-radius: 10px;
    text-align:center;
    font-weight: bold;
}
@media (max-width: 769px) {
    .form-input {
        flex-direction: column;
    }
    .form-input>input {
        width: 100%;
        margin-bottom: 1rem;
    }
    .form-input>button {
        width: 30%;
        padding:0.5rem 2rem;
    }
    #form {
        margin-left:3rem;
    }
}
@media (max-width: 376px) {
    .form-title {
        padding: 0.8rem 1rem;
        font-size: 10px;
    }
    .form-input {
        padding: 0.8rem 1rem;
        font-size: 10px;
    }
    .form-input>input {
        width:90%;
    }
    .form-input>button {
        padding: 0.6rem 1rem;
        font-size: 15px;
        text-align: center;
        width: 40%;
        margin-bottom: 2rem;
    }
    .form-info {
        font-size: 10px;
        padding: 0.8rem 1rem;
        margin: 1rem;
        margin-top:0;
    }
    #form {
        margin-left: 2.5rem;
    }
}