#header {
    margin: 2rem 3rem 2rem 3rem;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    overflow: hidden;
}
.shortNav {
    display: none;
}
.bold {
    font-weight: bold;
    color: white;
}
.borderN {
    border-top: 2px solid blue;
    width: 3rem;
}
.header-ct1 {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    color:white;
}
.navbar-nav {
    list-style: none;
    display: flex;
}
.navbar-nav > li > a {
    text-decoration: none;
    margin-left: 1rem;
    color: white;
}
.checkStatus {
    padding:1rem 1rem 1rem 1rem;
    border-radius: 10px;
    background-color: rgb(95, 95, 212,0.15);
    color: white; 
}
@media (max-width: 769px) {
    .header-ct2{
        display: none;
    }
    .checkStatus{
        display: none;
    }
    .header-ct1{
        margin:15px 2.5rem;
        font-size: 25px;
    }
    #header {
        margin:auto;
    }
    .shortNav {
        width: 40px;
        height: 40px;
        display:inline;
    }
    .shortNav>img {
        width: 40px;
        height: 40px;
        display:inline;
    }
}

@media (max-width: 376px) {
    .header-ct1{
        margin:15px 1.5rem;
        font-size: 25px;
    }
    .shortNav {
        padding-right:1rem;
    }
}
