.schedule {
    color: white;
    margin-left: 4rem;
    margin-right: 4rem;
    
}
.icon {
    width: 15px;
    height: 15px;
}
.schedule-part > i {
    width: 50px;
    height: 50px;
    background-color: red;
}
.schedule-title {
    display: flex;
    align-items: center;
}
.schedule-title>img {
    width: 40px;
    height: 40px;
    margin-top: 0.2rem
}
.schedule-title>div {
    font-weight: bold;
    font-size: 20px;
    padding-left: 1rem;
}
.schedule-part {
    display: flex;
}
.schedule-part > img {
    width: 40px;
    height: 40px;
    margin-top: 0.2rem;
    margin-right: 0.4rem;
}
.schedule-content {
    padding:2.5rem;
    display: flex;
    justify-content: space-around;
    background-color: rgb(181, 210, 238,0.3);
    border-radius: 5px;
}
.scd-part-title {
    color: rgb(174, 176, 178);
}
.scd-part-content {
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.schedule-button {
    padding:1rem 2rem 1rem 2rem;
    color:white;
    border-radius: 10px;
    background-color: rgb(87, 180, 231);
    font-size: 15px;
    font-weight: bold;
}

@media (max-width: 769px) {
    .schedule-title {
        margin-bottom: 1rem;
    }
    .schedule-content {
        flex-wrap: wrap;
        justify-content:left;
    }
    .schedule-part {
        width: 50%;
        margin-bottom: 2rem;
    }
    .schedule-content {
        padding-bottom: 1rem;
    }
    .schedule-button {
        padding:0 5rem;
        height: 50px;
    }
    .schedule {
        margin-left: 3rem;
    }
}

@media (max-width: 376px) {
    .schedule-content {
        padding-left: 1rem;
        padding-top: 1.5rem;
    }
    .schedule-part {
        width: 100%;
    }
    .schedule-part>div>.scd-part-content {
        font-size: 15px;
    }
    .schedule-button {
        padding: 0 3rem;
    }
    .schedule-title>div {
        font-size: 15px;
    }
}